node_modules/
dist-electron/
build/
out/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/
.ruff_cache/
generated_videos/
*.log
.git/
.idea/
.vscode/
*.swp
*.swo
app_store_screenshots/
gh_images/
images/
test.*
.npcsh_global/
jobs/
.env
.env.*
package-lock.json
